@import '../../base/var.scss';

.App-input {
  position: relative;
  display: inline-block;

  .App-icon {
    position: absolute;
    left: 9px;
    top: 4px;
  }

  input {
    background-color: $color-off-white;
    outline: none;
    height: 30px;
  }
}