@import '../../base/var.scss';

$heigth-search: 50px;

.App-search {
  margin-top: 20px;
  margin-bottom: 20px;
  height: $heigth-search;
  background-color: #fff;

  .App-search-type {
    cursor: pointer;
    text-align: center;
    height: $heigth-search;
    display: inline-block;
    width: 100px;
    text-transform: capitalize;
    line-height: $heigth-search;
    border-right: 1px solid $color-off-white;

    &.active {
      color: $color-cyan;
      border-bottom: 3px solid $color-cyan;
    }
  }
  
  .App-search-view {
    line-height: $heigth-search;
    padding-right: 20px;
    float: right;

    .App-search-view-button {
      margin-left: 10px;

      cursor: pointer;

      &:hover {
        color: $color-cyan !important;
      }
    }
  }
  
  .App-search-input {
    display: inline-block;
    margin-left: 30px;

    input {
      background-color: $color-off-white;
      border-width: 1px;
    }
  }
}
