@import '../../base/var.scss';

.App-status {

  .App-status-item {
    height: 120px;
    padding: 20px 30px;
  }

  .App-status-building {
    background-color: $color-yellow;
  }

  .App-status-idle {
    background-color: $color-green;
  }

  .App-status-overall {
    background-color: #fff;
  }
}