@import '../../base/var.scss';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

$height-status-block: 120px;

.App-status {
  .App-status-item {
    height: $height-status-block;
    padding: 20px 30px;
    position: relative;
  }

  .App-status-icon-wrap {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    opacity: 0.2;
    line-height: $height-status-block;
    position: absolute;
  }

  .App-status-icon-building {
    animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
  }

  .App-status-building,
  .App-status-idle {
    color: #fff;

    .App-status-item-title {
      font-weight: 700;
      text-transform: capitalize;
      font-size: 18px;
    }
    .App-status-item-count {
      font-size: 48px;
      float: right;
    }
  }

  .App-status-building {
    background-color: $color-yellow;
  }

  .App-status-idle {
    background-color: $color-green;
  }

  .App-status-overall {
    text-transform: uppercase;
    background-color: #fff;

    .App-status-overall-item {
      width: 33%;
      float: left;
      height: 100%;
      position: relative;

      .App-status-item-title {
        font-size: 12px;
      }
      .App-status-item-count {
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        width: 100%;
      }

      &:nth-child(2) {
        text-align: center;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}