@import '../../base/var.scss';

.App-footer {
  box-shadow: $box-shadow;
  text-align: center;
  line-height: 30px;
  height: 30px;
  font-size: 12px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}