@import '../../base/var.scss';

.App-nav {
  background-color: $color-blue-dark;
  height: 100%;
  width: 270px;
  height: 100%;
  padding-top: 30px;
  position: relative;

  .App-nav-item {
    color: $color-off-white;
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: $color-blue;
      color: $color-cyan;
    }
  }

  .App-nav-history {
    padding: 0 15px 20px;
    color: $color-gray;
    position: absolute;
    width: 100%;
    bottom: 0;

    .App-nav-history-title {
      font-size: 24px;
      color: $color-off-white-2;
      margin-bottom: 15px;
    }
  }
}