@import './var.scss';

.App-root {
  position: relative;
  font-family: $font-family;
  background-color: $color-white;
  font-size: 14px;

  .container {
    height: 100vh;
    margin: -60px auto -30px;
    padding-top: 60px;
    padding-bottom: 30px;
    max-width: 1200px;
    position: relative;
  }

  .App-content {
    width: 100%;
    position: absolute;
    top: 60px;
    padding-top: 15px;
    padding-left: $width-nav + 30px;
  }

  .row {
    @include clearfix;
    margin: 0 -15px;
  }

  .column-4 {
    width: 33.33%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}