@import './var.scss';

.App-root {
  position: relative;
  font-family: $font-family;
  background-color: $color-white;
  font-size: 14px;

  .container {
    height: 100vh;
    margin: -60px auto -30px;
    padding-top: 60px;
    padding-bottom: 30px;
    max-width: 1200px;
  }
}