// Color
$color-white: #f3f3f3;
$color-off-white: #e1e4e6;

$color-gray: #999;
$color-gray-dark: #777;

$color-blue-dark: #2d4054;
$color-blue: #435466;

$color-cyan-dark: #01869a;
$color-cyan: #00b4cf;

// Mixin
$box-shadow: 0 0 6px 0 $color-gray;
